<body>
  <!-- Secciond e busqueda -->
  <section class="hero-section">
    <div class="container text-center">
      <h1>Bienvenido al sistema de trabajo</h1>
      <p class="lead">Encuentra el trabajo de tus sueños. Explora nuevas oportunidades.</p>
      <form class="form-inline justify-content-center mt-4">
        <input type="text" class="form-control mr-sm-2" placeholder="Enter job title">
        <button type="submit" class="btn btn-primary">Busacr trabajo</button>
      </form>
    </div>
  </section>
  <!-- top trabajos -->
  <section class="featured-jobs">
    <div class="container">
      <h2 class="text-center mb-4">Trabajos</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text">Google</p>
              <a href="#" class="btn btn-primary">Ver mas detalles</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Backend Developer</h5>
              <p class="card-text">Microsoft</p>
              <a href="#" class="btn btn-primary">Ver mas detalles</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">UX/UI Designer</h5>
              <p class="card-text">inmobiler</p>
              <a href="#" class="btn btn-primary">Ver mas detalles</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg-dark text-light text-center py-3">
    <p>&copy; 2024 Systemas of jobs. Todos los derechos reservados.</p>
  </footer>

</body>